@font-face{
    font-family: "Outfit-Bold";
    src: url(../fontes/outfit/static/Outfit-Bold.ttf);
}

@font-face{
    font-family: "YoungSerif-Regular";
    src: url(../fontes/young-serif/YoungSerif-Regular.ttf);
}